@import "tailwindcss";

@theme {
  --color-primary: #1d4ed8; /* Blue 700 */
  --color-secondary: #dc2626; /* Red 600 */
  --color-accent: #facc15; /* Yellow 400 */
  
  --color-neutral-50: #f8fafc;
  --color-neutral-100: #f1f5f9;
  --color-neutral-200: #e2e8f0;
  --color-neutral-800: #1e293b;
  --color-neutral-900: #0f172a;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-neutral-900);
  background-color: var(--color-neutral-50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--color-neutral-100);
    background-color: var(--color-neutral-900);
  }
}
